.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 2em;
    /*border: dashed white 1px;*/
}

.title {
    color: white;
    font-size: 2.3em;
    margin: auto;
    /*border: solid yellow 1px;*/
}

.info {
    display: flex;
    flex-direction: row;
    margin-top: 1.8em;
    /*border: solid orange 1px;*/
    justify-content: space-between;
    align-content: space-between;
}

.info .description {
    display: block;
    height: auto;
    color: white;
    font-size: 1.1em;
    /*border: dashed red 1px;*/
    margin: auto;
    text-align: left;
    width: auto;
    padding-right: 0.5em;
}

.info .description .images {
    float: left;
    margin-right: 1em;
}

div.infobox {
    margin: auto;
    /*border: 1px dashed violet;*/
    width: auto;
    min-width: fit-content;
}

.infobox table, td {
    border: 2px solid #333;
    border-collapse: collapse;
}

td {
    background-color: #7ccd70;
    padding: 0.2em;
    color: white;
    text-align: center;
}

a.goToLink {
    text-align: center;
    color: white;
    font-size: 1.2em;
    margin: 1.5em;
    padding: 0.5em;
    border-radius: 5px;
    color: white;
    display: block;
    transition: background-color 0.5s;
}

a.goToLink:hover {
    background-color: rgb(68, 68, 68);
}

/*-------------------------------------------------*/

.download-instruction {
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    font-size: 1.1em;
    /*border: 1px solid blue;*/
}

a#download-btn {
    color: white;
    text-align: center;
    margin: auto;
    text-decoration: none;
    display: block;
    margin-top: 1.5em;
    font-size: 1.4em;
    border-radius: 5px;
    padding: 0.6em 0.9em;
    background-color: #B67FAC;
    margin-bottom: 4em;
    border: 2px dashed #B67FAC;
    transition: background-color 0.7s ease, transform 0.3s ease;
    /*border: 1px solid red;*/
}

a#download-btn:hover {
    text-decoration: none;
    /*box-shadow: 2px 2px 10px black inset;*/
    background-color: #333;
}

a#download-btn:active {
    transform: scale(1.1);
}

/*-------------------------------------------------*/

.installation-instructions {
    color: white;
    /*border: 1px solid yellow;*/
}

.header {
    color: white;
    font-size: 2em;
    text-align: center;
    /*border: 1px solid green;*/
}

ol.inst-content {
    list-style: decimal outside;
    color: white;
    padding: 2em;
    /*border: 1px dashed blue;*/
}

.inst-content li {
    display: list-item;
    padding: 1em;
    font-size: 1.1em;
}

@media all and (max-width: 600px) {
    .info {
        flex-direction: column-reverse;
    }

    .info .description .images {
        float: none;
    }

    .info .description {
        text-align: center;
    }
}