* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    z-index: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid green;*/
}

a {
    text-decoration: none;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.3em;
    text-decoration: none;
    color: white;
    padding: 8px;
    margin: 0 0 0 .20em;
    border: 1px solid greenyellow;
    z-index: 1;
}

ul.navbar {
    list-style-type: none;
    overflow: hidden;
    z-index: 1;
    display: flex;
    /*border: 1px solid white;*/
}

.navbar li a {
    display: block;
    color: white;
    padding: 1em;
    text-decoration: none;
    font-size: 16px;
    /*border: 1px solid rgb(248, 211, 1);*/
    letter-spacing: .15rem;
}

.navbar li a:hover {
    color: greenyellow;
}

.active {
    font-weight: bold;
}

.support {
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    z-index: 2;
    /*border: 1px solid white;*/
}

.support a {
    padding: 5px 5px;
    align-self: flex-end;
    justify-content: flex-end;
    text-decoration: none;
    /*border: 1px solid yellow;*/
}

.support-element {
    color: white;
    text-align: center;
    font-size: 1.3em;
}

#canvas-container {
    position: absolute;
    left: 100px;
    top: 100px;
    /*border: 1px solid red;*/
    display: block;
}

canvas {
    display: block;
    /*border: 1px solid white;*/
}

#screenTooSmall {
    position: relative;
    display: none;
    z-index: 1;
    font-size: 0.9em;
    color: white;
    width: 99.5%;
    text-align: center;
    margin: 0.5em 0.1em;
    /*border: 1px solid white;*/
}


.a-box {
    display: block;
    background-color: white;
    margin: 0.5em;
    height: auto;
}

.a-text {
    color: black;
    font-size: 1em;
    float: none;
    margin: 0 1em;
    padding: 1em 0;
}

.a-image {
    clear: right;
    float: left;
    margin: 1em;
}


.comingSoon {
    color: white;
    font-size: 1em;
    margin: 1em;
    padding: .5em;
}


@media all and (max-width: 990px) {
    .flex-container {
        flex-direction: column;
    }

    .logo {
        margin: 0;
    }

    ul.navbar {
        width: 100%;
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .logo {
        margin: .25em 0;
        align-self: left;
    }

    ul.navbar {
        flex-direction: column;
    }

    ul.navbar li a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.45);
    }

    ul.navbar li:last-of-type a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.45);
    }

    #screenTooSmall {
        display: block;
    }

    .a-box {
        display: flex;
        flex-direction: column-reverse;
    }

    .a-image {
        align-self: center;
    }
}

@media all and (max-height: 600px) {
    #screenTooSmall {
        display: block;
    }
}